---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ deployment.name }}
  namespace: {{ namespace }}
  labels:
    app: {{ deployment.name }}
spec:
  replicas: {{ deployment.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: {{ deployment.name }}
  template:
    metadata:
      labels:
        app: {{ deployment.name }}
    spec:
      containers: {{ deployment.containers }}
{% if deployment.volumes is defined %}
      volumes: {{ deployment.volumes }}
{% endif %}
