---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    address-pools:
    - name: metallb-ips
      protocol: layer2
      addresses:
      - {{ metallb_addresses }}
---
apiVersion: v1
kind: Secret
metadata:
  namespace: metallb-system
  name: memberlist
type: Opaque
stringData:
  secretkey: {{ metallb_key }}
